body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #521945 3%, #0A61BD  38%, #B80C09 68%, #141301 98%);
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    /* debug */
    /* border: 1px solid red; */
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* height:65vh; */
    width:100%;
    margin: 0;
    padding: 0;
}

#solutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-height: 500px;
    min-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* debug */
    /* border: 2px solid white; */
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: repeat(var(--n), 1fr);
    min-height: 300px;
    min-width: 300px;
    border: 1px solid #fff;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.queen {
    color: #DC353B;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin: 50px 35px;
    display: none;
}
#loader:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #c50202;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
}

#loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #37be01;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
}
#loader:after {
    animation-delay: 0.5s
}

@keyframes rotate {
    100% {transform: rotate(360deg) translate(30px)
}}